.address-list {
    margin-top: 20px;
    display: inline-block;
  
    color: rgba(255, 255, 255, 0.6);
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    & .item + .item {
      margin-top: 9px;
    }
 }
    
.city-street {
    color: $primary-bg-color;
}