.footer {
    background-color: #2f303a;
}
  
.footer-main {
    @include centerFlex(flex, baseline, flex-start);
    
    padding-bottom: 60px;
    padding-top: 60px;
}
  
.footer-title {
    margin: 0px;
    padding: 0px;
  
    color: $primary-bg-color;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}